# MATLAB build / compiler cache
slprj/
codegen/
*.slxc

# Simulink autosave, backups & version-specific auto-exports
*.autosave
*_backup_*.slx
*.slx.original
*.slx.r20*

# MATLAB binary session / workspace snapshots
*.asv

# OS
.DS_Store
Thumbs.db
